BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP "sys_clk" SITE "F9" ;
IOBUF PORT "sys_clk" IO_TYPE=LVCMOS33 ;
LOCATE COMP "sys_rstn" SITE "D10" ;
IOBUF PORT "sys_rstn" IO_TYPE=LVCMOS33 ;
LOCATE COMP "uart_rxd" SITE "J10" ;
LOCATE COMP "uart_txd" SITE "J9" ;
IOBUF PORT "uart_rxd" IO_TYPE=LVCMOS33 ;
IOBUF PORT "uart_txd" IO_TYPE=LVCMOS33 ;
LOCATE COMP "i2c_sclk_0" SITE "K8" ;
LOCATE COMP "i2c_sda_0" SITE "J8" ;
IOBUF PORT "i2c_sclk_0" IO_TYPE=LVCMOS33  ;
IOBUF PORT "i2c_sda_0" IO_TYPE=LVCMOS33  ;

LOCATE COMP "led[0]" SITE "E9" ;
LOCATE COMP "led[1]" SITE "E10" ;
LOCATE COMP "led[2]" SITE "G9" ;
LOCATE COMP "led[3]" SITE "G10" ;

LOCATE COMP "csi_payload_en" SITE "K3" ;
LOCATE COMP "csi_sp_en" SITE "H10" ;
LOCATE COMP "csi_lp_en" SITE "K10" ;
LOCATE COMP "csi_dt[0]" SITE "K9" ;
LOCATE COMP "csi_dt[1]" SITE "K7" ;
LOCATE COMP "csi_dt[2]" SITE "J7" ;
LOCATE COMP "csi_dt[3]" SITE "K6" ;
LOCATE COMP "csi_dt[4]" SITE "J6" ;
LOCATE COMP "csi_dt[5]" SITE "K5" ;

IOBUF PORT "led[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "csi_payload_en" IO_TYPE=LVCMOS18 ;
IOBUF PORT "csi_sp_en" IO_TYPE=LVCMOS33 ;
IOBUF PORT "csi_lp_en" IO_TYPE=LVCMOS33 ;
IOBUF PORT "csi_dt[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "csi_dt[1]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "csi_dt[2]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "csi_dt[3]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "csi_dt[4]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "csi_dt[5]" IO_TYPE=LVCMOS18 ;

FREQUENCY NET "sys_clk_c" 50.000000 MHz ;

LOCATE COMP "xshutdn_0" SITE "F10" ;
IOBUF PORT "xshutdn_0" IO_TYPE=LVCMOS33 ;
LOCATE COMP "u_csi2dsi.dphy_rx_inst.MIPIDPHYA_inst" SITE "MIPIDPHY0";